<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PH Sol Doura</title>

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik+Distressed&display=swap" rel="stylesheet">

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Link de las imagenes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Link al CSS -->
    <link href="/css/styles.css" rel="stylesheet">

</head>
<body>
    <header class="header-style">
        <div class="redes">
        <a href="https://www.instagram.com/soldouravisual/?hl=es" target="_blank" rel="noopener noreferrer">
            <div class="contact-item">
                <i class="fa-brands fa-instagram"></i>
            </div>
        </a>
        <a href="https://ar.pinterest.com/soldoura/" target="_blank" rel="noopener noreferrer">
            <div class="contact-item">
                <i class="fa-brands fa-pinterest"></i>
            </div>
        </a>
        </div>
        
        <p class="titulo">Sol Doura - Fotografía</p>

        <nav class="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href="/"><li>Home</li></a>
                    <a href="#about"><li>Sobre Mi</li></a>
                    <a href="#colecciones"><li>Colecciones</li></a>
                    <a href="#contacto"><li>Contacto</li></a>
                </ul>
            </div>
            <ul id="desktop-menu">
                <a href="/"><li>Home</li></a>
                <a href="#about"><li>Sobre Mi</li></a>
                <a href="#colecciones"><li>Colecciones</li></a>
                <a href="#contacto"><li>Contacto</li></a>
            </ul>
        </nav>
    </header>

    <main class="main-style">
        <div class="contenedor-formulario">
        <form onsubmit="sendEmail(); reset(); return false" class="formularios-contacto">

            <h3>Envíe su consulta</h3>
            <input type="text" id="formulario-nombre" placeholder="Nombre" class="formulario" required>

            <input type="email" id="formulario-email" placeholder="E-Mail" class="formulario" required>

            <textarea id="formulario-mensaje" name="formulario-mensaje" cols="30" rows="10" placeholder="Mensaje" class="area-de-mensaje"></textarea>

            <div class="botones-formulario">
                <button type="reset">Borrar</button>
                <button type="submit">Enviar</button>
            </div>

        </form>
        </div>

    </main>

    <footer class="estilo-footer">
        
    </footer>

    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="/js/contact.js"></script>
</body>
</html>