<!DOCTYPE html>
<html lang="en">

<% include("./partials/head") %> 

<body class="body-style">
    <header class="header-style">
        <div class="burger-button">
            <button class="burger-menu"><i class="fa fa-bars"></i></button>
        </div>
    </header>

    <main class="main-style">
        <div class="contenedor-imagenes">
            <div class="image-style">
                <img class="imagen001" src="/images/PortfolioSol-Moda0416.jpg" alt="modelo01">
            </div>
            <div class="image-style">
                <img class="imagen002" src="/images/soldoura_amatista_2021.jpg" alt="paisajes">
            </div>
        </div>
    </main>

    <footer class="footer-style">
        
    </footer>

    
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>
