:root{
    --richblack-fogra: #001011;
    --richblack: #093a3e;
    --verdigris: #3AAFB9;
    --electric-blue: #64e9ee;
    --pale-cerulean: #97c8eb;
}

.header-style{
    height: 40px;
    background-color: var(--richblack-fogra);
    box-sizing: border-box;
    padding: 10%;
}

.main-style{
    background-color: var(--verdigris);
    box-sizing: border-box;
}

.footer-style{
    height: 30px;
    background-color: var(--pale-cerulean);
}