:root{
    --richblack-fogra: #001011;
    --richblack: #093a3e;
    --verdigris: #3AAFB9;
    --electric-blue: #64e9ee;
    --pale-cerulean: #97c8eb;
}

.header-style{
    color: beige;
    background-color: var(--richblack-fogra);
    box-sizing: border-box;
}

.burger-menu{
    color: var(--richblack);
    background-color: beige;
    margin: none;
    border: none;
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
    border-radius: 12px;
}

.main-style{
    background-color: var(--pale-cerulean);
    box-sizing: border-box;

}
.contenedor-imagenes{
    height: 30%;
    width: 30%;
    box-sizing: border-box;
}
.imagen001{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: 20%;
    margin-top: 20%;
    margin-bottom: 20%;

}

.footer-style{
    background-color: var(--verdigris);
    box-sizing: border-box;
}